<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test Title</title>
</head>

<style>
    body{
        background-image: url("/images/soro.jpeg");
        background-repeat: no-repeat;
        background-position: center top;
    }

    div{
        height: 200px;
        width: 200px;
        background: aquamarine;
        padding-top: 5px;
        margin: 500px;
    }
    p{
        padding: 50px;

    }
</style>

<body>

        <div>
            <p>this is index page!!</p>

        </div>

</body>
</html>